{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <form class="ui form">
        <h4 class="ui dividing header">Add CV entry</h4>
        <div class="field">
            <label>Name</label>
            <div class="two fields">
                <div class="field">
                    <input type="text" name="cv[first-name]" placeholder="First Name">
                </div>
                <div class="field">
                    <input type="text" name="cv[last-name]" placeholder="Last Name">
                </div>
            </div>
        </div>
        <div class="ui button" tabindex="0">Submit CV entry</div>
    </form>
{% endblock %}
