<!doctype html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} - online CV</title>
        <link rel="stylesheet" href="{{ url_for('static', filename=STATIC.CSS) }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename=STATIC.CUSTOM_CSS) }}"/>
    {% endblock %}
</head>
<body>

{% block content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename=STATIC.JS) }}"></script>
<script src="{{ url_for('static', filename=STATIC.CUSTOM_JS) }}"></script>
</body>
</html>
