{% for category in categories %}
    <div class="ui horizontal divider">
        <i class="{{ category.icon }} icon"></i> {{ category.title }}
    </div>

    <div class="ui relaxed divided items">
        {% for entry in category.entries %}
            <div class="item">
                <div class="ui small image">
                    <img src="{{ url_for('static', filename=entry.filename) }}">
                </div>
                <div class="content">
                    <p class="header">{{ entry.title }}</p>
                    <div class="meta">
                        <p class="created">
                            <a class="meta" href="{{ entry.link }}" target="_blank">{{ entry.linkText }}</a>
                            | {{ entry.duration }}
                        </p>
                    </div>
                    <div class="description">{{ entry.description | safe }}</div>
                    <div class="extra">
                        {# <img src="{{ url_for('static', filename='img/me.png') }}"#}
                        {#     class="ui circular avatar image"> Reference:#}
                        <a class="created" href="mailto:{{ entry.referenceMail }}">{{ entry.referenceName }}</a>
                        <p class="created">
                            <i class="germany flag"></i>{{ entry.location }}
                        </p>
                    </div>
                    <div class="ui right floated main menu">
                        <a class="bug popup icon item" data-content="Edit this entry" href="#">
                            <i class="edit icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
