{% for cat, experiences in experiences.items() %}
    <div class="ui horizontal divider">
        <i class="{{ cat.icon }} icon"></i> {{ cat.title }}
    </div>

    <div class="ui relaxed items">
        {% for xp in experiences %}
            <div class="item">
                <div class="ui small image">
                    <img src="{{ url_for('static', filename='img/%s' % xp.img) }}">
                </div>
                <div class="content">
                    <p class="header">{{ xp.title }}</p>
                    <div class="meta">
                        <p class="created">
                            <a class="meta" href="{{ xp.link }}" target="_blank">{{ xp.what }}</a>
                            | {{ xp.when }}
                        </p>
                    </div>
                    <div class="description">{{ xp.description | safe }}</div>
                    <div class="extra">
                        {# <img src="{{ url_for('static', filename='img/me.png') }}"#}
                        {#     class="ui circular avatar image"> Reference:#}
                        {% if xp.referenceName %}
                            <a class="created" href="mailto:{{ xp.referenceMail }}">{{ xp.referenceName }}</a>
                        {% endif %}
                        <p class="created">
                            <i class="{{ xp.flag }} flag"></i>{{ xp.location }}
                        </p>
                    </div>
{#                FIXME adapt for flask-login #}
{#                    {% if user.isLoggedIn %}#}
{#                        <div class="ui right floated main menu">#}
{#                            <a class="bug popup icon item"#}
{#                               data-content="Edit this entry" href="#">#}
{#                                <i class="edit icon"></i>#}
{#                            </a>#}
{#                        </div>#}
{#                    {% endif %}#}
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
