<div class="ui card">
    <div class="image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header"><i class="wechat icon"></i> LANGUAGES
        </div>
        <div class="description">These are some of my skills in my
            huge skillset, which can be evidenced in my former work
            experience.
        </div>
    </div>
    <div class="extra content">
        <p class="left floated created">HTML / CSS</p>
    </div>
</div>
