{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="ui three column grid">
        <div class="ui four wide column">
            {% include 'contact.html' with context %}
            {% include 'languages.html' with context %}
            {% include 'skills.html' with context %}
        </div>
        <div class="ui eight wide column">
            {% include 'experience.html' with context %}
        </div>
        <div class="ui four wide column">
{#                {% include 'search.html' with context %}#}
            {% include 'buttons.html' with context %}
        </div>
    </div>
{% endblock %}
