{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="ui three column grid">
        <div class="row">
            <div class="ui four wide stackable column">
                {% include 'column-1.html' with context %}
            </div>
            <div class="ui eight wide stackable column">
                {% include 'column-2.html' with context %}
            </div>
            <div class="ui four wide stackable column">
                {% include 'column-3.html' with context %}
            </div>
        </div>
        <div class="row">
        </div>
    </div>
{% endblock %}
