<div class="ui card">
    <div class="image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="header"><i class="settings icon"></i> SKILLS
        </div>
        <div class="description">These are some of my languages I
            speak.
        </div>
    </div>
    <div class="extra content">
        <div class="ui basic demo progress">
            <div class="ui indicating demo progress">
                <div class="bar"></div>
                <div class="label">Funding</div>
            </div>
        </div>
        <p class="left floated created"><i
                class="germany flag"></i> German</p>
    </div>
    <div class="extra content">
        <p class="left floated created"><i class="gb flag"></i>
            English</p>
    </div>
    <div class="extra content">
        <p class="left floated created"><i class="china flag"></i>
            Chinese</p>
    </div>
</div>
